.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: blueviolet;
}

.todo-list {
  border: 1px solid #ccc;
  padding: 32px 55px 25px 40px;
  border-radius: 5px;
  width: 300px;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.input {
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  margin-left: 5px;
}
